*
{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body
{
    color: black;
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(79,180,203,1) 77%, rgba(0,212,255,1) 100%); */
   background: linear-gradient(120deg, rgba(151,236,255,1) 65%, rgba(0,212,255,1) 100%);
   padding: 10px;
}

header{
    width: 100%; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.container
{
    padding: 10px 10%;
}

.container nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 .logo-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo-container img{
    width: 60px;
    margin-right: 20px;
    padding-bottom: 15px;
}

.contact-header img
{
    width: 10px;
}

hr
{
    border-color: black;
    margin-bottom: 10px;
}

.contact-header ul li
{
    text-decoration: none;
}


main{
    width: 700px;
    margin: 90px auto 10px;
    background: linear-gradient(120deg, rgba(151,236,255,1) 0%, rgba(151,122,240,1) 16%, rgba(58,230,182,1) 100%);
    border-radius: 2%;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* position: relative; */
    min-height: 300px;
}

.main-container
{
    text-align: left;
     margin-top: 20px;
}

.main-container h3
{
    color: rgb(3, 42, 100);
    text-decoration: underline;
    margin-bottom: 40px;
    text-align: center;
}

.main-container h5
{
    color: rgb(2, 83, 2);
    margin-bottom: 40px;
    text-align: center;
}

.Details
{
    margin: 2px auto 2px;
    width: 330px;
    /* border:2px solid black; */
    padding-left: 30px;
}

.Details p
{

    display: inline-block;
    width: 150px; 
    margin: 5px 0; 
    font-size: 16px;
    font-weight: bold;
    color: rgb(81, 80, 80);
}

.Details span
{   
    display: inline-block;
    width: calc(100% - 150px);
    margin: 5px 0; 
    font-size: 16px;
    font-weight: bold;
}

.buttons
{ 
    display: flex;
    justify-content: space-around;
    margin: 25px auto 20px;
    max-width: 250px;
    /* border: 2px solid black; */
    padding: 5px;
    
}

.btn
{
    color: white;
    background-color: rgb(6, 43, 116);
    border: none;
    padding: 10px;
    border-radius: 10%;
}

.btn:hover
{
    color: green;
}


